{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        ">1% in ID",
                        "last 2 versions"
                    ]
                },
                "debug": true
            }
        ]
    ]
}